* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232020;
    font-family: "League Gothic", sans-serif;
}

p {
    font-family: "Amiro", sans-serif;
    color: #d3d0cb;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.logo {
    display: flex;
    position: absolute;
    top: 20vh;
    left: 40%;
    width: 20vw;
    height: 20vw;
    z-index: 1;
}

.blob {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
    overflow: hidden;
    width: 40vw;
    height: 40vw;
    max-width: 35rem; /* optional max size */
    max-height: 35rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-color: red;
    animation: morph 3.75s linear infinite;
}

@keyframes morph {
    0%, 100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

.heading {
    grid-column: span 2;
    font-size: clamp(3rem, 15vw, 15rem);
    color: #d3d0cb;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}


.outline {
    grid-column: span 2;
    font-size: clamp(3rem, 15vw, 15rem);
    color: transparent;
    -webkit-text-stroke: 2px #d3d0cb;
    z-index: 1;
}
.name,
.social-media {
    font-size: clamp(0.5rem, 5vw, 2rem);
}

.social-media {
    text-align: right;
}