/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ===== GLOBAL ===== */

body {
  background-color: #232020;
  font-family: "League Gothic", sans-serif;
  color: #d3d0cb;
}

p {
  font-family: "Arimo", sans-serif;
  color: #d3d0cb;
}

.flex-container {
  display: flex;
  flex-direction: column;
}


/* ===== HOME SECTION (retain original size) ===== */

#home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
}


/* retain your original blob size */

.blob {
  position: absolute;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  width: 40vw;
  height: 40vw;

  max-width: 35rem;
  max-height: 35rem;

  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;

  background-color: red;

  animation: morph 3.75s linear infinite;
}

@keyframes morph {

  0%,100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }

  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }

  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }

}


/* retain your original large heading */

.heading {
  grid-column: 1 / -1;
  font-size: clamp(3rem, 15vw, 15rem);
  text-align: center;
  margin-top: 5rem;
}

.name,
.social-media {
  font-size: clamp(0.5rem, 5vw, 2rem);
}

.social-media {
  text-align: right;
}


/* ===== INTRODUCTION SECTION ===== */

#introduction {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  width: 100%;
}


/* Large centered heading */

.intro-text h2 {
  font-size: clamp(10rem, 12vw, 14rem);
  line-height: 1;
}


/* Description text */

.intro-text p {
  font-size: clamp(1.2rem, 2vw, 2rem);
  max-width: 800px;
}


/* Image covering at least 40% of screen */

.self-photo img {
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
}

