* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232020;
    font-family: "League Gothic", sans-serif;
}

p {
    font-family: "Amiro", sans-serif;
    color: #d3d0cb;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.circle {
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: red;
}


.heading {
    grid-column: span 2;
    font-size: clamp(3rem, 15vw, 15rem);
    color: #d3d0cb;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.name, .social-media {
    font-size: clamp(0.5rem, 15vw, 1rem);
}

.social-media {
    text-align: right;
}